/* Import variables */
@import url('./variables.css');
/* Bootstrap
@import url('../css/app.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');
@import 'bootstrap/scss/bootstrap';
.font-style {
    font-family: initial;
} */
/* @import url('https://fonts.bunny.net/css?family=Nunito'); */
/* @import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css'); */
/* @import url('https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css'); */
/* @import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp'); */
@import url('https://cdn.datatables.net/2.0.0/css/dataTables.dataTables.css');
/* @import 'bootstrap/dist/css/bootstrap.min.css'; */

/* Colors */
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.cp {
    cursor: pointer;
}

.primary-color {
    color: var(--primary-color);
}
.secondary-color {
    color: var(--secondary-color);
}

.primary-colori {
    color: var(--primary-color) !important;
}
.green-c-700


/* Font style */
.font-primary {
    color: var(--secondary-color900);
}
.font-secondary {
    color: var(--secondary-color700);
}
.place-holder {
    color: var(--secondary-color400);
}
.font-white {
    color: #fff !important;
}
/* Surface */
.surface-s {
    background-color: var(--secondary-color100);
}
.surface-w {
    background-color: #fff;
}
.surface-l {
    background-color: var(--primary-color100);
}
/* Icons */
.primary-icon {
    color: var(--secondary-color700);
}
.secondary-icon {
    color: var(--secondary-color500);
}
.disable-icon {
    color: var(--secondary-color300);
}
/* border */
.border-d {
    border: 1px solid var(--secondary-color300);
}
.border-dt {
    border-top: 1px solid var(--secondary-color300);
}
.border-db {
    border-bottom: 1px solid var(--secondary-color300);
}
.border-dl {
    border-left: 1px solid var(--secondary-color300);
}
.border-dr {
    border-right: 1px solid var(--secondary-color300);
}
.border-l {
    border: 1px solid var(--secondary-color200);
}
.border-lt {
    border-top: 1px solid var(--secondary-color200);
}
.border-lb {
    border-bottom: 1px solid var(--secondary-color200);
}
.border-ll {
    border-left: 1px solid var(--secondary-color200);
}
.border-lr {
    border-right: 1px solid var(--secondary-color200);
}
.border-bnone {
    border-bottom: none !important;
}
/* border radius */
.border-r-4 {
    border-radius: var(--border-radius4);
}
.border-r-8 {
    border-radius: var(--border-radius8);
}
.border-r-16 {
    border-radius: var(--border-radius16);
}
/* typography */

.headline-h1b {
    /* Headline/H1B•56px•Bold */
    color: var(--secondary-color900);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.18px;
}
.headline-h1m {
    /* Headline/H1M•56px•Medium */
    color: var(--secondary-color900);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.18px;
}
.headline-h1 {
    /* Headline/H1•56px•Regular */
    color: var(--secondary-color900);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.18px;
}
.headline-h2m {
    /* Headline/H2M•48px•Medium */
    color: var(--secondary-color900);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.18px;
}
.headline-h2 {
    /* Headline/H2•48px•Regular */
    color: var(--secondary-color900);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.18px;
}
.headline-h3m {
    /* Headline/H3M•40px•Medium */
    color: var(--secondary-color900);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.18px;
}
.headline-h3 {
    /* Headline/H3•40px•Regular */
    color: var(--secondary-color900);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.18px;
}
.headline-h4b {
    /* Headline/H4B•32px•Bold */
    color: var(--secondary-color900);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.18px;
}
.headline-h4m {
    /* Headline/H4B•32px•Bold */
    color: var(--secondary-color900);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.18px;
}
.headline-h4 {
    /* Headline/H4•32px•Regular */
    color: var(--secondary-color900);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.18px;
}
.headline-h5m {
    /* Headline/H5M•26px•Medium */
    color: var(--secondary-color900);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.18px;
}
.headline-h5 {
    /* Headline/H5•26px•Regular */
    color: var(--secondary-color900);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.18px;
}
.headline-h6m {
    /* Headline/H6M•20px•Medium */
    color: var(--secondary-color900);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.15px;
}
.headline-h6 {
    /* Headline/H6•20px•Regular */
    color: var(--secondary-color900);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.15px;
}
.subtitle-1b {
    /* Subtitle/S1B•16px•Bold */
    color: var(--secondary-color900);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 137.5% */
    letter-spacing: 0.5px;
}
.subtitle-1m {
    /* Subtitle/S1M•16px•Medium */
    color: var(--secondary-color900);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 137.5% */
    letter-spacing: 0.15px;
}
.subtitle-2b {
    /* Subtitle/S2B•14px•Bold */
    color: var(--secondary-color900);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.15px;
}
.subtitle-2m {
    /* Subtitle/S2M•14px•Medium */
    color: var(--secondary-color900);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.15px;
}
.body-1 {
    /* Body/B1•16px•Regular */
    color: var(--secondary-color900);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    letter-spacing: 0.15px;
}
.body-1l {
    /* Body/B1•16px•Regular */
    color: var(--secondary-color700);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    letter-spacing: 0.15px;
}
.body-2 {
    /* Body/B2•14px•Regular */
    color: var(--secondary-color900);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font) !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 137.5% */
    letter-spacing: 0.15px;
}
.body-2l {
    /* Body/B2•14px•Regular */
    color: var(--secondary-color700);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 137.5% */
    letter-spacing: 0.15px;
}
.caption-1 {
    /* Caption/C1•12px•Regular */
    color: var(--secondary-color700);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-family: 'General Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.4px;
}
.caption-1b {
    /* Caption/C2•12px•Bold */
    color: var(--secondary-color700);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-family: 'General Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.6px;
}
.caption-2 {
    /* Caption/C3•10px•Regular */
    color: var(--secondary-color700);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-family: 'General Sans';
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 140% */
    letter-spacing: 0.7px;
}
.overline-1 {
    /* Overline/O2•10px•Medium•0.5px */
    color: var(--secondary-color700);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px; /* 140% */
    letter-spacing: 0.5px;
}
.overline-2 {
    /* Overline/O1•10PX•REGULAR•1.5px */
    color: var(--secondary-color700);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 140% */
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
/* button */

.btn-primary {
    border-radius: 6px !important;
    background: var(--primary-color) !important;
    font-family: var(--main-font) !important;
    color: #fff !important; /* Custom text color */
}

.btn-primary:hover {
    background-color: var(--primary-color700) !important;
    box-shadow: 0px 4px 6px 0px rgba(0, 120, 227, 0.24) !important;
}
.btn-primary:focus {
    color: #fff !important;
    background-color: var(--primary-color600) !important;
    border-color: none !important;
    box-shadow: 0px 4px 6px 0px rgba(0, 120, 227, 0.24) !important;
}
.btn-secondary {
    font-family: var(--main-font) !important;
    border-radius: 6px !important;
    background-color: #fff !important;
    border: 1px solid var(--primary-color) !important;
    color: var(--primary-color) !important;
}
.btn-secondary:hover {
    background-color: #fff !important;
    border: 1px solid var(--primary-color700) !important;
    color: var(--primary-color700) !important;
    box-shadow: 0px 4px 6px 0px rgba(0, 120, 227, 0.12) !important;
}
.btn-secondary:focus {
    color: var(--primary-color700) !important;
    background-color: #fff !important;
    border: 1px solid var(--primary-color700) !important;
    box-shadow: 0px 4px 6px 0px rgba(0, 120, 227, 0.12) !important;
}
.btn-light {
    font-family: var(--main-font) !important;
    border-radius: 6px !important;
    background: var(--primary-color100) !important;
    font-family: var(--main-font) !important;
    color: var(--primary-color600) !important; /* Custom text color */
}
.btn-light:hover {
    background-color: var(--primary-color200) !important;
    border: 1px solid var(--primary-color500) !important;
    color: var(--primary-color700) !important;
    box-shadow: 0px 4px 6px 0px rgba(0, 120, 227, 0.08) !important;
}
.btn-light:focus {
    color: var(--primary-color700) !important;
    background-color: var(--primary-color200) !important;
    border: none !important;
    box-shadow: 0px 4px 6px 0px rgba(0, 120, 227, 0.08) !important;
}
.btn-outline {
    font-family: var(--main-font) !important;
    border-radius: 6px !important;
    background-color: #fff !important;
    border: 1px solid var(--secondary-color200) !important;
    color: var(--secondary-color700) !important;
}
.btn-outline:hover {
    background-color: #fff !important;
    border: 1px solid var(--secondary-color500) !important;
    color: var(--secondary-color900) !important;
    box-shadow: 0px 4px 4px 0px rgba(86, 107, 125, 0.04) !important;
}
.btn-outline:focus {
    color: var(--secondary-color700) !important;
    background-color: #fff !important;
    border: 1px solid var(--secondary-color900) !important;
    box-shadow: 0px 4px 4px 0px rgba(86, 107, 125, 0.12) !important;
}
.btn-close {
    font-family: var(--main-font) !important;
    border-radius: 6px !important;
    background-color: #fff !important;
    border: 1px solid var(--secondary-color200) !important;
    color: var(--secondary-color700) !important;
    font-size: 12px;
    margin-right: 12px;
}
.btn-close:hover {
    background-color: #fff !important;
    border: 1px solid var(--secondary-color500) !important;
    color: var(--secondary-color900) !important;
    box-shadow: 0px 4px 4px 0px rgba(86, 107, 125, 0.04) !important;
}
.btn-close:focus {
    color: var(--secondary-color700) !important;
    background-color: #fff !important;
    border: 1px solid var(--secondary-color900) !important;
    box-shadow: 0px 4px 4px 0px rgba(86, 107, 125, 0.12) !important;
}

.btn-secondary-add {
    display: flex !important;
    width: 32px;
    align-items: center;
    justify-content: center;
    height: 32px;
    font-family: var(--main-font) !important;
    border-radius: 6px !important;
    background-color: #fff !important;
    border: 1px solid var(--primary-color) !important;
    color: var(--primary-color) !important;
}
.btn-secondary-add:hover {
    background-color: #fff !important;
    border: 1px solid var(--primary-color700) !important;
    color: var(--primary-color700) !important;
    box-shadow: 0px 4px 6px 0px rgba(0, 120, 227, 0.12) !important;
}
.btn-secondary-add.disable {
    font-family: var(--main-font) !important;
    border-radius: 6px !important;
    background-color: #fff !important;
    border: 1px solid var(--secondary-color200) !important;
    color: var(--secondary-color400) !important;
}
.btn-secondary-add:hover.disable {
    font-family: var(--main-font) !important;
    border-radius: 6px !important;
    background-color: #fff !important;
    border: 1px solid var(--secondary-color200) !important;
    color: var(--secondary-color400) !important;
}
.btn-secondary:focus.disable {
    color: var(--secondary-color700) !important;
    background-color: #fff !important;
    border: 1px solid var(--secondary-color900) !important;
    box-shadow: 0px 4px 4px 0px rgba(86, 107, 125, 0) !important;
}
/* Custom styles for input fields */
.custom-input-lg {
    font-family: var(--main-font) !important;
    color: var(--secondary-color700);
    border: 1px solid #a6b6c4;
    border-radius: 6px;
    padding: 10px;
    transition: border-color 0.3s ease;
    min-height: 56px;
}
.custom-input {
    font-family: var(--main-font) !important;
    color: var(--secondary-color700);
    border: 1px solid #a6b6c4;
    border-radius: 6px;
    padding: 10px;
    transition: border-color 0.3s ease;
}
.custom-input-sm {
    font-family: var(--main-font) !important;
    color: var(--secondary-color700);
    border: 1px solid #a6b6c4;
    border-radius: 6px;
    padding: 10px;
    transition: border-color 0.3s ease;
    min-height: 32px;
}

/* Custom styles for input label */
.custom-label {
    /* overflow: hidden; */
    color: var(--secondary-color600);
    font-feature-settings:
        'clig' off,
        'liga' off;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* Body/B2•14px•Regular */
    font-family: var(--main-font) !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.15px;
}

/* Custom styles for input placeholder */
.custom-input::placeholder {
    color: var(--secondary-color300) !important;
    font-family: var(--main-font) !important;
    /* Body/B2•14px•Regular */
    font-family: var(--main-font) !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.15px;
}

/* Custom styles for input focus */
.custom-input:focus {
    border-color: var(--primary-color500) !important;
    box-shadow: 0px 4px 6px 0px rgba(0, 120, 227, 0.12) !important;
}

/* Custom styles for input hover */
.custom-input:hover {
    border-color: var(--primary-color600);
}
.left-icon-input {
    padding-left: 32px !important;
}
input.search-input {
    font-family: var(--main-font) !important;
    color: var(--secondary-color700);
    border: 2px solid var(--secondary-color200);

    transition: border-color 0.3s ease;
    padding-left: 32px;
    border-radius: 6px;
    color: var(--secondary-color600);
}
.search-input::placeholder {
    color: var(--secondary-color400) !important;
    font-family: var(--main-font) !important;
    /* Body/B2•14px•Regular */
    font-family: var(--main-font) !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.15px;
}

/* -----------------------------------Link Button -------------------------------------- */

.a-btn-link {
    /* Subtitle/S2M•14px•Medium */
    color: var(--primary-color);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.15px;
    cursor: pointer;
}
.a-btn-link:hover {
    text-decoration: underline !important;
    color: var(--primary-color700);
    cursor: pointer;
}

/* ------------------------------------------Radio Button ------------------------------------- */
/* Custom styles for radio button */
.custom-radio .custom-control-input {
    width: 20px; /* Set radio button size */
    height: 20px; /* Set radio button size */
    transition: all 0.3s ease;
    line-height: 20px;
    vertical-align: middle;
    border-radius: 50%; /* Make radio button round */
    border: 1px solid var(--secondary-color100) !important; /* Default border color */
}

/* Custom styles for radio button focus */
.custom-radio .custom-control-input:focus {
    outline: none; /* Remove default focus outline */
    border-radius: 50%;
    box-shadow: 0px 4px 6px 0px rgba(0, 120, 227, 0.12) !important;
}

/* Custom styles for radio button hover */
.custom-radio .custom-control-input:hover {
    border-color: var(--primary-color); /* Bootstrap primary color */
}

/* Custom styles for radio button checked */
.custom-radio .custom-control-input:checked {
    border-color: var(--primary-color); /* Bootstrap primary color */
    background-color: var(--primary-color); /* Bootstrap primary color */
}

/* Custom styles for radio button checked focus */
.custom-radio .custom-control-input:checked:focus {
    border-color: var(
        --primary-color700
    ); /* Darker shade of Bootstrap primary color */
    background-color: var(
        --primary-color700
    ); /* Darker shade of Bootstrap primary color */
    box-shadow: 0px 4px 6px 0px rgba(0, 120, 227, 0.2) !important; /* Add focus shadow */
}
/* ------------------------------------------End Radio Button ------------------------------------- */
/* ------------------------------------------Check box ------------------------------------- */
/* Custom CSS for checkboxes */
/* Customize size */
.custom-control-input {
    width: 15px; /* Custom width */
    height: 15px; /* Custom height */
    border-radius: 50%; /* Make the checkbox round */
    transition: all 0.3s ease;
    line-height: 15px;
    vertical-align: sub;
}

/* Customize border color */
.custom-control-input:checked ~ .custom-control-label::before {
    border-color: var(--primary-color); /* Custom border color when checked */
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0px 4px 6px 0px rgba(0, 120, 227, 0.12) !important;
}

/* Customize hover color */
.custom-control-input:hover ~ .custom-control-label::before {
    border-color: var(--primary-color); /* Custom border color on hover */
}

/* Make the right icon round */
.custom-checkbox .custom-control-label::after {
    border-radius: 50%; /* Make the right icon round */
}

/* ------------------------------------------End Check box ------------------------------------- */
/* ------------------------------------------Start Switch  ------------------------------------- */
/* Custom CSS for switch */
/* Size customization */

.form-switch .form-check-input {
    width: 3rem !important ; /* Adjust width */
    height: 1.5rem; /* Adjust height */
}
.form-check-input:checked {
    background-color: var(--primary-color500);
    border-color: var(--primary-color500);
}
.form-switch .form-check-label {
    padding-left: 0.5rem;
    line-height: 1.5rem;
    vertical-align: middle;
    color: var(--secondary-color900);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    letter-spacing: 0.15px;
}
/* ------------------------------------------End Switch  ------------------------------------- */

/* -------------Page container ------------------*/
.container-page {
    border-radius: 4px;
    background: #fff;

    margin-top: 1rem !important;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.04);
}
/* -------------Table Custom---------------------- */
.custom-table {
    border-collapse: collapse;
    width: 100%;

    margin-bottom: 0px !important;
    background-color: #fff;
}

.custom-table tbody tr:hover {
    background-color: #f9fcff;
}
.th-custom {
    /* Subtitle/S2M•14px•Medium */
    color: var(--secondary-color700);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 500 !important;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.td-custom {
    /* Body/B2•14px•Regular */
    color: var(--secondary-color900);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 14px;
    vertical-align: middle;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 137.5% */
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    letter-spacing: 0.15px;
}
table.table tr th,
table.table tr td {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.action-col {
    width: 120px; /* Adjust as needed */
    text-align: center;
}
.action-check {
    width: 48px;
}

.delete-table {
    cursor: pointer;
    color: var(--accent-color-r500);
    padding: 4px;
    /* margin-right: 12px; */
}
.cancel-table {
    color: var(--accent-color-r500);
    padding: 4px;
    margin-right: 10px;
}
.check-table {
    color: green;
    padding: 4px;
    margin-right: 10px;
}
.delete-table:hover {
    cursor: pointer;
    color: var(--accent-color-r700);
}
.edit-table {
    padding: 4px;
    cursor: pointer;
    color: var(--secondary-color500);
}
.edit-table:hover {
    cursor: pointer;
    color: var(--secondary-color700);
}
th.table-left,
td.table-left {
    text-align: left !important;
}
th.table-right,
td.table-right {
    text-align: right !important;
}
.action-container {
    text-align: center;
}
.action-container .dt-column-title {
    display: inline-block; /* Ensures the span takes up the necessary space */
    text-align: center; /* Centers the content */
    width: 100%; /* Forces the span to take up the full width of its container */
}
.dt-paging.paging_simple_numbers {
    float: right;
}
.custom-footer-row {
    padding: 12px 0px;
}
.dt-length > label {
    /* Body/B2•14px•Regular */
    color: var(--secondary-color900);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 137.5% */
    letter-spacing: 0.15px;
    margin-bottom: 0px;
    margin-left: 8px;
}
#dt-length-1 {
}
div.dt-container .dt-paging .dt-paging-button {
    box-sizing: border-box !important;
    display: inline-block !important;
    min-width: 1.5em !important;
    padding: 8px 16px !important;
    margin-left: 2px !important;
    text-align: center !important;
    text-decoration: none !important;
    cursor: pointer !important;
    color: var(--secondary-color500) !important;
    border: 1px solid var(--secondary-color100) !important;
    border-radius: 2px;
    background: transparent;

    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.15px;
}
div.dt-container .dt-paging .dt-paging-button.next,
div.dt-container .dt-paging .dt-paging-button.previous {
    font-size: 18px;
}
div.dt-container .dt-paging .dt-paging-button.current,
div.dt-container .dt-paging .dt-paging-button.current:hover {
    background: var(--primary-color600) !important;
    color: #ffffff !important;
}
div.dt-container .dt-paging .dt-paging-button:hover {
    background: #fff !important;

    color: var(--primary-color600) !important;
    border: 1px solid var(--primary-color600) !important;
}
/* -------------------Status---------------------- */
.status-active {
    /* Subtitle/S2M•14px•Medium */
    color: var(--accent-color-g700);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.15px;
    background-color: var(--accent-color-g100);
    display: inline-block;
    border-radius: 3px;
    padding: 4px 8px;
}
.status-deactive {
    /* Subtitle/S2M•14px•Medium */
    color: var(--accent-color-r700);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.15px;
    background-color: var(--accent-color-r100);
    display: inline-block;
    border-radius: 3px;
    padding: 4px 8px;
}

/* 0--------------------------Modal--------------------------------- */

/* modal-left-full */
.modal-lf {
    margin: 0px 0px 0px auto !important;
}
.modal-lf-container {
    max-height: 100vh !important;
    min-height: 100vh !important;
    border-radius: 0px !important;
}
.modal-lf-body {
    max-height: calc(100vh - 134px);
    min-height: calc(100vh - 134px);
    overflow-y: auto;
}
.modal-lft-body {
    max-height: calc(100vh - 174px);
    min-height: calc(100vh - 174px);
    overflow-y: auto;
}
/* Custom CSS for right-slide modal */
@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOutRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

.modal.right .modal-dialog {
    position: fixed;
    margin: auto;

    top: 0;
    right: 0;
    bottom: 0;
    animation: slideInRight 0.3s forwards;
}

.modal.right.hide .modal-dialog {
    animation: slideOutRight 0.3s forwards;
}

.modal-content {
    border-radius: 0;
}

.modal-center {
    height: calc(100vh - 4rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-center form {
    min-width: 30rem;
}

/* -------------------Tabs Outline---------------------- */
.tab-nav {
    border-bottom: 1px solid var(--secondary-color200);
}
.nav-link.nav-link-custom {
    color: var(--secondary-color500);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 137.5% */
    letter-spacing: 0.15px;
    background-color: none;
    height: 40px;
}
.nav-pills .nav-link.active {
    color: var(--primary-color600) !important;
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    border-radius: 0px;
    font-weight: 600;
    line-height: 18px; /* 137.5% */
    letter-spacing: 0.15px;
    background-color: #fff !important;
    height: 40px;
    border-bottom: 2px solid var(--primary-color500);
}
.nav-link.nav-link-custom:hover {
    color: var(--primary-color700);
    font-weight: 500;
}
/* ----------------------------------------------------Chips------------------------------ */
.chip {
    background-color: #fff; /* Default background color */
    color: var(--secondary-color600); /* Default text color */
    border: 1px solid var(--primary-color400); /* Default border color */
    padding: 4px 12px; /* Default padding */
    border-radius: 4px; /* Default border radius */
    transition: background-color 0.3s ease; /* Smooth transition */
    /* Body/B2•14px•Regular */
    color: var(--secondary-color900);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 137.5% */
    letter-spacing: 0.15px;
}

.chip:hover {
    border: 1px solid var(--primary-color600); /* Default border color */
}

.chip button {
    background-color: transparent;
    margin-right: 0px !important;
    border: none;
    margin-left: 8px;
    color: var(--secondary-color500); /* Close button color */
    font-size: 12px;
    border: 0px;
    background-color: none;
    cursor: pointer;
    margin-left: 0.5rem; /* Space between chip text and close button */
}

.chip button:hover {
    color: var(--secondary-color600); /* Close button color on hover */
}
.chip .icon-chip {
    font-size: 18px;
    color: var(--secondary-color500);
    line-height: 22px;
    vertical-align: top;
    margin-right: 4px;
}
/* ======================================================================================= Css Start ============================================================================== */

body {
    background-color: var(--secondary-color100) !important;
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
}

.login-container {
    min-width: 75%;
    max-width: 75%;
    margin: auto;
    margin-top: 100px;
    background-color: #fff;
    border-radius: 20px;
    background: #fff;
    box-shadow:
        0px 12px 56px 0px rgba(0, 0, 0, 0.12),
        0px 2px 4px 0px rgba(0, 0, 0, 0.04);
}
.left-login {
    padding: 56px !important;
    background: linear-gradient(151deg, #00396d 3.16%, #001120 105.67%);
    border-radius: 20px 0px 0px 20px;
    height: fit-content;
    height: inherit;
}
.login-image {
    width: 100%;
    display: block;
}
.login-logo {
    width: 120px;
    display: block;
}
.right-login {
    padding: 56px !important;
    height: fit-content;
}

/* Header */
/* Style the header with a grey background and some padding */

.navabr_custom {
    background-color: #fff !important;
    padding: 8px 12px;
    height: 56px;
    border-bottom: 1px solid var(--borders-icons-lite-border, #e1e7eb);
}
.header_logo {
    height: 24px;
}
.menu_header {
    height: 24px;
}
.header_icons {
    padding: 8px 8px 8px 8px;
    border-radius: 6px;
    border: 1px solid var(--secondary-color200);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_icons:hover {
    border-color: var(--primary-color500);
}
.header-drop-custom {
    display: flex !important;
    align-items: center !important;
    border-left: 1px solid var(--secondary-color300) !important;
    flex-direction: row;
    padding-bottom: 0px !important ;
    padding-top: 0px !important;
}

/* Breadcrumb */

.breadcrumb-item a {
    color: var(--secondary-color500);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    letter-spacing: 0.15px;
    text-decoration: none;
}
.breadcrumb-item a:hover {
    color: var(--primary-color500);
    text-decoration: underline;
    font-weight: 500;
}
.breadcrumb-item.active {
    color: var(--secondary-color700);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 137.5% */
    letter-spacing: 0.15px;
    text-decoration: none;
}

/*  Action Header*/

.action-header {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
}
.action-right {
    height: 56px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: end;
}
/* Page Container */
.heading_box {
    background-color: var(--primary-color100);
    border-radius: 4px;
    padding: 12px 16px;
    margin-top: 16px;
    color: var(--primary-color);
}
/* Custom CSS for dropdown */
.dropdown-menu {
    /* width: 250px; */
}
.dropdown-item {
    /* display: flex; */
    align-items: center;
    gap: 10px;
}
.dropdown-item .material-icons {
    font-size: 24px;
}
.dropdown-item.active {
    background-color: #e9ecef;
}
.svg-rupee {
    position: absolute;
    color: var(--secondary-color400);
    top: 36px;
    left: 8px;
    font-size: 18px !important;
}
.search-icon {
    position: absolute;
    color: var(--secondary-color400);
    top: 10px;
    left: 8px;
    font-size: 20px !important;
}
.associate_box {
    padding: 12px 0px;
    border: 1px solid var(--secondary-color200);
    border-radius: 4px;
}
.listing_box {
    display: flex;
    align-content: center;
    margin-bottom: 8px;
    padding: 8px 0px;
    border: 1px solid var(--secondary-color200);
    border-radius: 4px;
}
.listing_box.disable {
    background-color: var(--secondary-color100);
    opacity: 0.5;
}
.aminites_icon {
    font-size: 20px;
    color: var(--secondary-color600);
}
.night-count {
    text-align: center;
    background-color: var(--secondary-color900);
    width: 4rem;
    font-size: smaller;
    color: white;
    height: 56px;
}
.rounded-top-left-0 {
    border-top-left-radius: 0px;
}
.rounded-top-right-0 {
    border-top-right-radius: 0px;
}
.rounded-bottom-left-0 {
    border-bottom-left-radius: 0px;
}
.rounded-bottom-right-0 {
    border-bottom-right-radius: 0px;
}
/* Modal Utitltiy */

.m-lg {
    width: 80% !important;
    max-width: 80% !important;
    min-width: 80% !important;
}
.card-1 {
    border-radius: 8px;
    border: 1px solid var(--borders-icons-lite-border, #e1e7eb);
    background: #fff;
    box-shadow: 0px 2px 8px 0px rgba(0, 44, 84, 0.12);
}
.green-bg-200 {
    background-color: var(--accent-color-g200) !important ;
}
.gray-bg-200 {
    background-color: var(--secondary-color200) !important ;
}
.red-bg-200 {
    background-color: var(--accent-color-r200) !important ;
}
.primary-c-700 {
    background-color: var(--primary-color200) !important ;
}
.secondary-c-700 {
    color: var(--secondary-color700) !important ;
}
.primary-c-600 {
    color: var(--primary-color600) !important ;
}

.green-c-700 {
    color: var(--accent-color-g700) !important ;
}
.gray-c-700 {
    color: var(--secondary-color700) !important ;
}
.red-c-700 {
    color: var(--accent-color-r700) !important ;
}
.red-c-600 {
    color: var(--accent-color-r600) !important ;
}
.primary-c-700 {
    color: var(--primary-color700) !important ;
}
.f-weight-700 {
    font-weight: 700 !important;
}
.f-weight-600 {
    font-weight: 600 !important;
}
/* Media query for screens smaller than 768px (typical mobile devices) */
@media (max-width: 767px) {
    .modal-md {
        width: 100% !important; /* Adjust width as needed for smaller screens */
        max-width: 100% !important;
        min-width: 100% !important;
    }
}
.icon-navbar-color {
    color: #566b7d;
}
.search-container {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px; /* Adjust as needed */
    transform: translateY(-50%);
}

.close-icon {
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust as needed */
    transform: translateY(-50%);
    cursor: pointer;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 1000; /* Ensure the backdrop is behind the modal */
    display: none; /* Initially hidden */
}

.modal-backdrop.show {
    display: block; /* Show the backdrop when modal is open */
}

/* Tooltip.css */
.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-content {
    visibility: hidden;
    width: 100px;
    background-color: #032848;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 9999;
    left: 50%;
    /* bottom: -40px; */
    margin-bottom: 20px;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-content {
    visibility: visible;
    opacity: 1;
}

/***** Hotel Profile Page Css *****/
.breadcrumb-item a {
    color: var(--secondary-color500);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 137.5% */
    letter-spacing: 0.15px;
    text-decoration: none;
}

.breadcrumb-item a:hover {
    color: var(--primary-color500);
    text-decoration: underline;
    font-weight: 500;
}

.breadcrumb-item.active {
    color: var(--secondary-color700);
    font-feature-settings:
        'clig' off,
        'liga' off;
    font-family: var(--main-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    /* 137.5% */
    letter-spacing: 0.15px;
    text-decoration: none;
}

.light-blue-box {
    background-color: #f7fbff;
    border-radius: 4px;
    color: var(--primary-color);
}

.uploader {
    border: 1px dashed var(--primary-color);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #e6eff8;
}

.uploader:hover {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(50, 111, 255, 0.1);
}

.uploader.dragover {
    border-color: #337ab7;
    background-color: #f5f5f5;
}

.uploader .file-name {
    font-size: 14px;
    color: hsl(0, 0%, 40%);
    margin-top: 10px;
}
.width-680 {
    max-width: 680px;
}
.border-width-1 {
    border-width: 1px;
}
/* cancell policy css */
.lists {
    width: 100%;
    /* overflow-y: scroll; */
    margin: 0;
    padding-left: 0 !important;
}

.lists li {
    width: 100%;
    list-style-type: none;
    padding: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.selected_policy {
    background-color: var(--primary-color100);
    border-right: 5px solid var(--primary-color);
}
.policy-sidebar {
    width: 30%;
    max-width: 380px;
    height: calc(100vh - 88px);
}
.sidebar-body {
    height: calc(100vh - 230px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.policy-main-container {
    width: max(calc(100vw - 412px), 68%);
    padding-left: 10px;
}

.policy-container-size {
    height: calc(100vh - 88px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.input-no-outline {
    border: none !important;
    outline: none !important;
}

.no-policy-selected-banner {
    border-radius: 24px;
    width: 450px;
    height: 360px;
}

.policy-container-body {
    height: calc(100vh - 220px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.height-40 {
    height: 40px;
}

.width-100 {
    width: 100px;
}

.secondary-color700 {
    color: var(--secondary-color700);
}
.border-width-1 {
    border-width: 1px;
}
.policy-ul {
    padding: 0 1rem;
}
.policy-ul li {
    list-style: none;
}

select,
.select-container {
    /* width: 100%; */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.select-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 2.5rem;
    cursor: text;
}

.select-container div {
    display: inline-flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
    background-color: #e9f5ff;
    border: 1px solid #b3d4fc;
    border-radius: 4px;
    cursor: default;
}

.select-container div::after {
    content: '×';
    display: inline-block;
    margin-left: 0.5rem;
    cursor: pointer;
}

#tag-select {
    flex-grow: 1;
    min-width: 150px;
    padding: 0.25rem 0.5rem;
    border: none;
    outline: none;
}

#tag-select:focus {
    outline: none;
}
.surface-d {
    color: white;
    background-color: var(--secondary-color900) !important;
}

.w-5 {
    width: 5%;
}

.green-box {
    border: 1px solid var(--accent-color-g800);
    background-color: var(--accent-color-g200);
    border-radius: 4px;
}

.red-box {
    border: 1px solid var(--accent-color-r800);
    background-color: var(--accent-color-r200);
    border-radius: 4px;
}

.light-gray-box {
    border: 1px solid var(--secondary-color800);
    background-color: var(--secondary-color200);
    border-radius: 4px;
}

.availableinquirytable tbody tr:first-child td:first-child {
    min-width: 170px;
}

.availableinquirytable td {
    min-width: 93px;
}
.list-container {
    background-color: white;
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
    border: 1px solid #a6b6c4;
    border-radius: 5px;
}
.sidebar-masters-submenu {
    max-height: calc(100vh - 300px);
    overflow-y: scroll;
}

/* House Keeping Css */
.separator {
    border-right: 1px solid #e1e7eb !important;
    margin-right: 1.5rem;
}

.font-red {
    color: var(--accent-color-r600);
}

.tab-counts {
    border: 1px solid rgba(8, 99, 181, 0.4);
    padding: 3px 5px;
    border-radius: 100%;
    color: var(--primary-color);
}

.room-number-tab {
    border: 1px dashed var(--secondary-color300);
    background-color: var(--secondary-color100);
    width: 4rem;
    margin: 15px 15px 0 0;
    position: relative;
}

.select-room-number-tab {
    border: 1px dashed var(--primary-color) !important;
    color: var(--primary-color);
}

.select-room-number-tab span {
    position: absolute;
    top: -12px;
    right: -4px;
}

.select-red-room-number-tab {
    border: 1px dashed var(--accent-color-r300) !important;
    color: var(--accent-color-r700);
    background-color: var(--accent-color-r100);
}

.select-red-room-number-tab span {
    position: absolute;
    top: -12px;
    right: -4px;
}

.select-room-number-tab span svg {
    border: 1px solid #ffffff;
    border-radius: 300px;
}

.light-gray-box-1 {
    background-color: var(--secondary-color100);
    border-radius: 4px;
    padding: 3px 10px;
    color: var(--primary-color800);
    margin: 5px 10px 0 0;
}

.main-container {
    min-height: calc(100vh - 78px);
}

.width-60p {
    width: 60%;
}

.mt-neg-1 {
    margin-top: -1rem !important;
}

.width-39p {
    width: 39%;
}

.container-seperator {
    margin: 0 -1.5rem;
    border-top: 1px solid #e1e7eb;
}

.border-li {
    border: 1px solid var(--secondary-color200) !important;
}
/* Front view Css */
.room-stats .separator {
    border-right: 1px solid #dee2e6;
}

.scrollable-modal-body {
    height: 520px; /* Set the maximum height as per your requirement */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden;
}
.scrollable-modal-body-1 {
    height: 340px;
}

.card-body-height {
    height: 520px;
}

.th-custom-p,
.td-custom-p {
    padding: 8px;
    border: none;
}
.modal-header-border {
    border: none;
}

.custom_input_1 {
    width: 100%;
}

/* .nav-item {
    flex: none !important;
} */

.delete-icon {
    background-color: var(--accent-color-r100);
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.y_scrolling {
    overflow-y: auto;
    overflow-x: hidden;
}
.y_scrolling::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    background-color: #fff;
}

.y_scrolling::-webkit-scrollbar {
    width: 0px;
    background-color: #fff;
}

.y_scrolling::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #9e9e9d;
}
/* Stay Info Page css */
.green-btn {
    color: #0b641f;
    background-color: rgb(206, 253, 206);
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}
.blue_colour {
    color: #0863b5;
}
.static-height {
    height: 570px;
}
.light-red {
    color: #e3001f;
}

.card-footer {
    margin-top: auto;
    background-color: white !important;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.height-adjust {
    height: 440px;
}
.background {
    background-color: white;
    height: 30px;
    width: 30px;
    align-items: center;
    display: flex;
    padding-left: 3px;
}
